body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
  }
  .green{
    color: lightcoral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .ecplore{
    background-color:#E7E9E8;
  }



@media screen and (min-width:575px) and (max-width:991px) {
    .companies{
        display:none ;
    }
    .h5 {
        font-size: 1.rem;
    }
    .tab-size{
        width:50%;
       
    }

   

}

@media screen and  (max-width:575px){
    .tab-size {
        width: 100%;
        flex-direction: column;
    }
    .course{
        margin: 1px;;
    }
    .ecplore {
        margin: 5px;
    }

    .faq{
        margin: 20px;
    }

}

@media screen and  (max-width:574px) {
    .companies{
        display:none ;
    }
    .h5, h5 {
        font-size: 10px;
    }
    .tab-size{
        width:100%;
       
    }
    .course{
        margin: 1px;;
    }
    .ecplore {
        margin: 5px;
    }

    .faq{
        margin: 20px;
    }

    .mobile{
        margin:2px;
    }

    .margin{
           margin: 20px;
    }
}